name: reticulum
on:
  push:
    branches:
    paths-ignore: ["README.md"]
  workflow_dispatch:

jobs:
  turkeyGitops:
    if: github.repository_owner == 'Hubs-Foundation'
    uses: Hubs-Foundation/hubs-ops/.github/workflows/turkeyGitops.yml@master
    with:
      registry: hubsfoundation
      dockerfile: TurkeyDockerfile
      bio_script_path: scripts/hab-wrap-and-push.sh
      qa_channel_name: polycosm-unstable-a
      hc_channel_name: polycosm-stable-a
      k8s_deployment: reticulum
      k8s_deployment_container: reticulum
    secrets:
      DOCKER_HUB_PWD: ${{ secrets.DOCKER_HUB_PWD }}
      GCP_TURKEYGITOPS_SA_JSON: ${{ secrets.GCP_TURKEYGITOPS_SA_JSON  }}
      BLDR_HAB_TOKEN: ${{ secrets.BLDR_HAB_TOKEN }}
      BLDR_RET_TOKEN: ${{ secrets.BLDR_RET_TOKEN }}
      BLDR_RET_PUB_B64: ${{ secrets.BLDR_RET_PUB_B64 }}
      BLDR_HAB_PVT_B64: ${{ secrets.BLDR_HAB_PVT_B64 }}
